/* 通用样式 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #513232;
}

h3 {
    text-align: center;
    color: #666;
    margin: 15px 0;
}

p {
    text-align: center;
    font-weight: bold;
    margin: 15px 0;
}


/* 文件选择区域样式 */
.file-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.file-label {
    padding: 10px 20px;
    color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s;
    text-align: center;
    background-color: transparent;
    /* 无背景色 */
    display: block;
    margin: 10px auto;
    border: 1px solid #ccc;
    width: 80%;
}

.file-label:hover {
    color: #0056b3;
    /* 悬浮时字体颜色变化 */
}

.file-path-hint {
    margin-top: 8px;
    font-size: 0.85em;
    color: #666;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    /* 更深的背景以提高可读性 */
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.file-label:hover+.tooltip {
    display: block;
}

input[type="file"] {
    display: none;
}


/* 下载按钮样式 */
#download-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0;
}

#download-buttons button,
button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#download-buttons button:hover,
button:hover {
    background-color: #0056b3;
}

/* 表格样式 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #007bff;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}